.image {
    flex: 4;
}

.card {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    min-height: 250px;
    background-color: #fff;
}

.text {
    flex: 8;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.name {
    text-transform: uppercase;
}

.location {
    color: #69a369;
}

.description {
    color: darkgray
}
