.widget {
    width: 230px;;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 2em;
}

.box {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 3em;
    border-radius: 10px;
    border: 2pt solid #ddd;
}

.options {
    width: 100%;
    display: flex;
    gap: 10px;
}

.count {
    font-size: 5em;
}