.box {
    width: 100%;
    text-align: center;
    padding: 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    user-select: none;
}

.box:hover {
    background: #ddd;
    color: #0a0c14;
}

.options {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.count {
    width: 100%;
    font-size: 5em;
}