.btn {
    text-align: center;
    font-size: larger;
    padding: 15px;
    border-radius: 5px;
    background: #c0c0c0;
    border: .5px solid #555;
    user-select: none;
    box-shadow: #3b3b3b 2px 2px;
    cursor: pointer;
}

.op {
    background: #ebc765;
}

.cls {
    background: #f36d6d;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    box-shadow: #444444 -1px -1px;
}