.screen { 
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    border-radius: 5px;
    border: 1pt solid #242c42;
    overflow-x: auto;
    background: #a4f5a4;
}

.screen::-webkit-scrollbar {
    height: 5px;
}

.screen::-webkit-scrollbar-track {
    background-color: #a4f5a4;
}

.screen::-webkit-scrollbar-thumb {
    background: #242c42;
}

