body {
    background: #505563;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    background: #ddd;
    border-radius: 5px;
    box-shadow: #242c42 2px 2px;
    border: 1pt solid #242c42;
}

.container > :first-child {
    text-align: right;
}

.buttons-container {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 10px;
}
